# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# folders
/src/loaders
/src/text.txt
/src/tests/Select2.test.js
/src/Checkout
/src/Animate
/src/Pages/Order/oldFile.css
/src/Pages/Components/Image Upload.js
/src/Pages/Components/ImageUploadToo.js
/src/Pages/Components/React Images Upload.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
