.payment-instruction {
  margin-bottom: 90px;
}

.pay-know-how {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-item {
  display: flex;
  justify-content: space-between;
}

.order-shipping {
  width: 49%;
  transition: all 0.6s ease-in-out;
}

.order-payment {
  width: 49%;
  transition: all 0.6s ease-in-out;
}

ol {
  margin: 0;
  padding: 0 16px;
}

li {
  margin: 0;
}

.order-success {
  margin-bottom: 10px;
}

.customer-name {
}

.orderID {
  color: #00d919;
}

@media (max-width: 540px) {
  .form-item {
    flex-direction: column;
    padding: 0 10px 10px;
  }

  .order-shipping {
    width: 100%;
    transition: all 0.6s ease-in-out;
  }

  .order-payment {
    width: 100%;
    transition: all 0.6s ease-in-out;
  }

  .payment-instruction {
    margin-bottom: 90px;
  }

  .pay-know-how {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  ol {
    margin: 0;
    padding: 0 16px;
  }

  li {
    margin: 0;
  }

  .order-success {
    margin-bottom: 10px;
  }

  .customer-name {
  }

  .orderID {
    color: #00d919;
  }
}

@media (max-width: 320px) {
  .payment-instruction {
    margin-bottom: 5em;
  }
}

@media (max-width: 280px) {
  .payment-instruction {
    margin-bottom: 6em;
  }
}
