.payment-instruction {
  margin-bottom: 90px;
}

.pay-know-how {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-item {
  display: flex;
  justify-content: space-between;
}

.margin-top {
  margin-top: 10px;
}

.oneForm {
  transition: all 0.6s ease-in-out;
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.twoForms {
  transition: all 0.6s ease-in-out;
  display: flex;
  justify-content: space-between;
}

.order-shipping {
  width: 100%;
}

.order-shipping1 {
  width: 49.5%;
}

.order-payment {
  width: 100%;
}
.order-payment1 {
  width: 49.5%;
}

.page_title2 {
  padding: 15px 0;
}

ol {
  margin: 0;
  padding: 0 16px;
}

li {
  margin: 0;
}

.order-success {
  margin-bottom: 10px;
}

.orderID {
  color: #00d919;
}

@media (max-width: 540px) {
  .form-item {
    flex-direction: column;
    padding: 0 10px 10px;
  }

  .oneForm,
  .twoForms {
    margin: 0 50px;
    flex-direction: column;
  }

  .order-shipping {
    width: 100%;
  }

  .order-shipping1 {
    width: 100%;
  }

  .order-payment {
    width: 100%;
  }
  .order-payment1 {
    width: 100%;
  }

  .payment-instruction {
    margin-bottom: 90px;
  }

  .page_title2 {
    padding: 0 0 15px 0;
  }

  ol {
    margin: 0;
    padding: 0 16px;
  }

  li {
    margin: 0;
  }

  .order-success {
    margin-bottom: 10px;
  }

  .orderID {
    color: #00d919;
  }
}

@media (max-width: 414px) {
  .oneForm,
  .twoForms {
    margin: 0 30px;
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .oneForm,
  .twoForms {
    margin: 0 10px;
    flex-direction: column;
  }

  .payment-instruction {
    margin-bottom: 5em;
  }
}

@media (max-width: 280px) {
  .payment-instruction {
    margin-bottom: 6em;
  }
}
