.primary,
.secondary,
.header-primary,
.header-primary2,
.header-secondary,
.cancel-order,
.whatsapp,
.facebook,
.twitter,
.checkout,
.addCart,
.buyNow {
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  border-radius: 10px;
  color: transparent;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.header-primary2 {
  border-radius: 0 10px 10px 0;
}

.primary,
.secondary {
  letter-spacing: 1px;
  padding: 12px 15px;
  font-size: 12px;
  width: 100%;
}

.header-primary,
.header-secondary {
  padding: 2px 9px;
}

.header-primary2 {
  padding: 7px 9px;
}

.cancel-order {
  padding: 2px 10px;
  font-size: 13px;
}

.checkout {
  padding: 10px 20px;
  font-size: 13px;
  text-align: center;
}

.whatsapp,
.facebook,
.twitter {
  padding: 2px 5px;
}

.primary:active,
.secondary:active,
.header-primary:active,
.header-primary2:active,
.header-secondary:active,
.cancel-order:active,
.checkout:active,
.whatsapp:active,
.facebook:active,
.twitter:active,
.buyNow:active,
.addCart:active,
.addReview:active {
  transform: scale(0.95);
}

.primary:focus,
.secondary:focus,
.header-primary:focus,
.header-primary2:focus,
.header-secondary:focus,
.cancel-order:focus,
.checkout:focus,
.whatsapp:focus,
.facebook:focus,
.twitter:focus,
.buyNow:focus,
.addCart:focus {
  outline: none;
}


.primary,
.header-primary,
.header-primary2,
.buyNow {
  background-color: #00d919;
  border: 1px solid #00d919;
  color: #ffffff;
}

.secondary,
.header-secondary,
.addCart {
  background-color: #ffffff;
  border: 1px solid #00d919;
  color: #00d919;
}

.primary,
.header-primary,
.header-primary2 {
  order: 0;
}

.secondary,
.header-secondary {
  order: 1;
}

.cancel-order {
  background-color: #d9000017;
  color: #d90000e7;
}

.checkout {
  background-color: #00d919;
  border: 1px solid #00d919;
  color: #ffffff;
}

.primary:not(:last-child) {
  margin-bottom: 12px;
}

.whatsapp {
  background-color: #25d366;
  border: 1px solid #25d366;
  color: #ffffff;
}

.facebook {
  background-color: #1b478f;
  border: 1px solid #1b478f;
}

.bi-facebook,
.bi-twitter {
  color: #ffffff;
}

.twitter {
  color: #007bff;
  background-color: #007bff;
  border: 1px solid #007bff;
}

@media (max-width: 540px) {

}

@media (max-width: 320px) {
  .checkout {
    padding: 8px 10px;
  }
}
