/* .eye-popper {
  padding: 5px 0px;
  width: 50px;
  border-radius: 0 10px 10px 0;
  background: white;
} */

.eye-popper {
  padding: 5px 6px 0 0;
  width: auto;
  background: white;
}

.eyeIcon {
  position: relative;
  left: -5px;
  top: -55px;
  bottom: 0;
  right: 0;
  margin-bottom: -30px;
  display: flex;
  align-self: flex-end;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.eyeIcon2 {
    position: relative;
    left: 90%;
    top: -55px;
    bottom: 0;
    right: 0px;
    margin-bottom: -35px;
    display: flex;
    width: 35px;
    align-self: center;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }

/* .eyeLiner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
  }
  
  .eyeLiner:hover,
  .eyeLiner:active {
    border: 1px solid #00d919;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  } */

@media (max-width: 540px) {
  .eyeIcon {
  }
}

@media (max-width: 375px) {
  .eyeIcon {
  }
}

@media (max-width: 320px) {
  .eyeIcon {
  }
}

@media (max-width: 280px) {
  .eyeIcon {
  }
}
