.bi-circle-fill {
}

.bi-arrow-left-circle {
}

.bi-trash {
  color: red;
}

.bi-trash-fill {
  color: red;
}

.bi-heart {
  color: orange;
}

.bi-heart-fill {
  color: orange;
}

.bi-dash-circle-fill {
}

.bi-chevron-up {
}

.bi-chevron-down {
}

#question-circle-fill {
  color: gray;
}

.social {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.social-media {
  display: flex;
}

.bi-facebook {
  color: #5757f9;
}

.bi-twitter {
  color: #5757f9;
}

.bi-whatsapp {
  color: #ffffff;
}

.facebook,
.twitter {
}

.whatsapp {
}

.bi-star-fill {
  color: #808080;
  transition: transform 0.2s;
}

.bi-star-filled {
  color: #52cd0b;
  transition: transform 0.2s;
}

.bi-star-fill:hover,
.bi-star-filled:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  color: #52cd0b;
}

.bi-star-fill:not(:last-child),
.bi-star-filled:not(:last-child) {
  margin-right: 6px;
}

.float {
  display: flex;

  color: #0b0b0b;
}

.contact-item {
  padding: 18px 20px;
  border-radius: 50%;
  position: fixed;
  background: #52cd0b;
  color: #ffffff;
  right: 50px;
  bottom: 80px;
  box-shadow: 0rem 0rem 0.5rem 0rem #00000032 !important;
}

.cardie {
  right: 50px;
  bottom: 80px;

  background-color: blueviolet;
  border: 3px solid #bfbfbf;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  font-size: 10px;
  border-radius: 10px;
  width: 150px;
}

.message {
  border-left: 3px solid #bfbfbf;
  transition: all 0.6s ease-in-out;
  background-color: #bfbfbf48;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  z-index: 11;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

@media (max-width: 540px) {
  .bi-circle-fill {
  }

  .bi-arrow-left-circle {
  }

  .bi-trash {
    color: red;
  }

  .bi-trash-fill {
    color: red;
  }

  .bi-heart {
    color: orange;
  }

  .bi-heart-fill {
    color: orange;
  }

  .bi-dash-circle-fill {
  }

  .bi-chevron-up {
  }

  .bi-chevron-down {
  }

  #question-circle-fill {
    color: gray;
  }

  .social {
    display: none;
  }

  .bi-facebook {
    color: #5757f9;
  }

  .bi-twitter {
    color: #5757f9;
  }

  .bi-whatsapp {
    color: #ffffff;
  }

  .facebook,
  .twitter {
  }

  .whatsapp {
  }

  .bi-star-fill {
    color: #808080;
  }

  .bi-star-filled {
    color: #52cd0b;
  }

  .bi-star-fill:not(:last-child),
  .bi-star-filled:not(:last-child) {
    margin-right: 6px;
  }

  .message {
    border-left: 3px solid #bfbfbf;
    transition: all 0.6s ease-in-out;
    background-color: #bfbfbf48;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -webkit-transition: all ease 0.7s;
    transition: all ease 0.7s;
    z-index: 11;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}
