.input,
.text-input {
  border: 1px solid #eee;
  outline: none;
  border-radius: 10px;
  padding: 12px 15px;
  width: 100%;
}

textarea:invalid {
  border: 2px dashed red;
}

textarea:valid {
  border: 2px solid #00d919;
}

.password {
  border: 1px solid transparent;
  outline: none;
  border-radius: 10px 0 0 10px;
  padding: 12px 15px;
  width: 100%;
}

.text-input {
  margin-bottom: 6px;
}

.header-input {
  border: 1px solid #eee;
  outline: none;
  border-radius: 10px 0 0 10px;
  padding: 10px 15px;
  font-size: 12.5px;
  width: 100%;
}

.input:hover,
.text-input:hover {
  border: 1px solid #00d919;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.input:not(:last-child) {
  margin-bottom: 12px;
}

@media (max-width: 540px) {
}

@media (max-width: 320px) {
  .header-input {
    width: 100%;
  }
}
