.select {
  font-size: auto;
}

.select:focus {
  border-color: blue;
}

div.option[data-disabled] {
  color: gray;
}

div.option[data-checked] {
  background-color: blue;
  color: white;
}

 div.option:hover {
  background-color: blue;
  color: white;
}

 div.option:focus {
  background-color: blue;
  color: white;
}

 div.option:checked {
  background-color: blue;
  color: white;
}

option {
    font-size: 10px;
  }

.text {
  font-size: 20px;
}

select {
  font-size: 1rem;
  padding: 2px 5px;
}

