$circle-length: 151px;
$check-length: 36px;

.success {
  align-items: center;
  background-color: transparent;
}

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: $circle-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: $check-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: $circle-length $circle-length;
  stroke: #00d919;
}

#successAnimationCheck {
  stroke-dasharray: $check-length $check-length;
  stroke: #00d919;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: $circle-length $circle-length;
  stroke: #00d919;
}

#successAnimationCheck {
  stroke-dasharray: $check-length $check-length;
  stroke: #00d919;
}

#successAnimationResult {
  fill: #00d919;
  opacity: 0;
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;

  #successAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
      0.3s linear 0.9s 1 both fadeOut;
  }

  #successAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
      0.3s linear 0.9s 1 both fadeOut;
  }

  #successAnimationResult {
    animation: 0.3s linear 0.9s both fadeIn;
  }
}

.success-wrapper {
}

.success-item {
  margin: 10px auto;
  max-width: 385px;
  transition: all 0.6s ease-in-out;
  background-color: #ffffff;
  transition: all 0.6s ease-in-out;
  color: #000000;
  border-radius: 10px;
  padding: 15px;
}

.success-item,
.confirm {
  text-align: justify;
}

@media (max-width: 540px) {
  .success-wrapper {
  }

  .success-item,
  .confirm {
    text-align: justify;
  }
}

@media (max-width: 375px) {
  .success-wrapper {
  }
}

@media (max-width: 320px) {
  .success-wrapper {
    padding: 10px 20px;
  }
}

@media (max-width: 280px) {
}
