.disabled-product-price {
  font-size: 25px;
  color: #808080;
  font-weight: 500;
}


.disabled-buyNow,
.disabled-addCart {
  padding: 10px 10px;
  font-size: 13px;
  cursor: not-allowed;
}

.disabled-addCart {
  width: 50%;
  cursor: not-allowed;
}

.disabled-buyNow {
  width: 100%;
  cursor: not-allowed;
}

.disabled-review2 {
  color: #808080;
  border-radius: 10px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  padding: 2px 0 2px 0;
  cursor: not-allowed;
}

@media (max-width: 730px) {
}

@media (max-width: 540px) {
  .disabled-buyNow,
  .disabled-addCart {
    padding: 12px 15px;
  }

  .disabled-addCart {
    width: 70%;
  }

  .disabled-buyNow {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .disabled-review2 {
    display: none;
  }

  .disabled-buyNow,
  .disabled-addCart {
    padding: 8px 10px;
  }

  .disabled-addCart {
    width: 70%;
  }

  .disabled-buyNow {
    width: 100%;
  }
}
