.navigator {
  display: flex;
  justify-content: center;
}

.navigator-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  width: 250px;
  background-color: white;
  border: 1px solid #cccccc;
  box-shadow: 1px 8px 11px -6px rgba(82, 82, 82, 0.75);
  -webkit-box-shadow: 1px 8px 11px -6px rgba(82, 82, 82, 0.75);
  -moz-box-shadow: 1px 8px 11px -6px rgba(82, 82, 82, 0.75);
}

.current_page {
  font-size: 20px;
  width: 80px;
  text-align: center;
  padding: 5px 0;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}

.previous,
.next {
  text-align: center;
  background-color: white;
  padding: 5px 0;
  transition: transform 80ms ease-in;
}

@media (max-width: 540px) {
  .navigator-actions {
    width: 95%;
  }

  .current_page {
    width: 130px;
  }
}

@media (max-width: 530px) {
}

@media (max-width: 320px) {
}

@media (max-width: 280px) {
}
