.product-wrapper {
}

.outline{
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0rem 0rem 0.5rem 0rem #00000032 !important;
  background-clip: border-box;
  background-color: #ffffff;
}

.product-body {
  display: flex;
  padding: 10px 0 0;
}

.product-divide {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0 10px 0 0;
}

.new-rating-wrapper {
  display: flex;
  align-items: center;
}

.product-detail {
  width: 60%;
}

.product-image {
  background-color: #d7d7d7;
  height: 350px;
  border-radius: 10px;
}

.nameXauthor {
  display: flex;
  flex-direction: column;
}

.rateItem {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.product-name {
  font-weight: 500;
  font-size: 20px;
}

.product-author {
  margin: 0 0 0 0px;
}

.rating-stars {
  display: flex;
  justify-content: flex-start;
}

.prices {
  display: flex;
  align-items: center;
}

.product-price {
  font-size: 25px;
  color: #00d919;
  font-weight: 500;
}

.spacer {
  margin: 0 5px 0 0;
}

.product-discount-price {
  color: cadetblue;
  font-size: 15px;
  text-decoration: line-through;
}

.product-title {
  font-size: 15;
  font: 400;
  color: cadetblue;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.product-description-wrapper {
  margin-top: 10px;
}

.product-description {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-description-full {
  overflow: hidden;
  word-wrap: break-word;
  text-align: justify;
}

.down {
  text-align: center;
}

.review-box {
  align-items: center;
  margin-top: 10px;
}

.add-review-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 7px 0;
  width: 350px;
}

.addCart,
.buyNow {
  padding: 10px 10px;
  font-size: 13px;
}

.addCart {
  width: 50%;
}

.buyNow {
  width: 100%;
}

.facebook,
.twitter {
  margin-left: 5px;
}

.addReview2 {
  color: #25d366;
  border-radius: 10px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  padding: 2px 0 2px 0;
  cursor: pointer;
}

.see-more {
  display: flex;
  align-items: center;
  color: #25d366;
}

.fadeIn {
  animation: fadeInUp 0.5s ease-out;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@media (max-width: 540px) {
  .product-wrapper {
  }

  .product-body {
    flex-direction: column;
    padding: 10px 10px 0;
  }

  .product-divide {
    width: 100%;
    padding: 0 0 0 0;
  }

  .product-detail {
    width: 100%;
  }

  .product-image {
  }

  .nameXauthor {
    margin-top: 10px;
  }

  .product-action {
    width: 100%;
  }

  .addReview {
  }

  .addCart,
  .buyNow {
    padding: 12px 15px;
  }

  .addCart {
    width: 70%;
  }

  .buyNow {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .product-wrapper {
  }

  .rating-wrapper {
    flex-direction: column;
  }

  .product-quantity {
  }
  .product-price {
  }

  .addReviewXseeMore {
  }

  .addReview {
    display: none;
  }

  .review-numbersXright {
  }

  .product-action {
    width: 100%;
  }

  .addCart,
  .buyNow {
    padding: 8px 10px;
  }

  .addCart {
    width: 70%;
  }

  .buyNow {
    width: 100%;
  }
}
