.product-wrapper {
}
.close-action {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 10px 0;
  padding: 10px 10px 0 0;
}

.hide-action {
  display: flex;
  justify-content: center;
  margin: 0 0 0 0;
  padding: 20px 0;
  position: fixed;
  top: 5%;
  left: 0;
  right: 0;
  bottom: 0;
}

.product-body {
  display: flex;
  width: auto;
}

.product-divide {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0 10px 0 0;
}

.new-rating-wrapper {
  display: flex;
  align-items: center;
}

.product-detail {
  width: 60%;
}

.product-image {
  background-color: orange;
  width: auto;
  height: 350px;
}

/* .nameXshare {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.product-name {
}

.by {
  font-style: italic;
}

.product-author {
  margin: 0 0 0 3px;
}

.priceXqytXreview {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 12px 0;
  margin: 0 0 10px 0;
}

.product-quantity {
  text-align: center;
}

.line {
  border-left: 1px solid blue;
}
.product-price {
  text-align: center;
}

.share-social {
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-end;
  /* align-items: center; */
  margin: 0 0 12px 0;
}

.shareXicon {
  background-color: #ffffff16;
  color: #25d365d8;
  border: 1px solid #25d36578;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 2px 10px;
  display: flex;
  align-items: center;
}

.shareXicon:active {
  color: #ffffff;
  background-color: #25d365d8;
  border: 1px solid #ffffff;
}

.shareXicon:focus {
}

.share {
  margin: 0 0 0 10px;
}

.product-description-wrapper {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0rem 0rem 0.5rem 0rem #00000032 !important;
  background-clip: border-box;
  display: flex;
  flex-direction: column;
}

.product-description {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-description-full {
  overflow: hidden;
  word-wrap: break-word;
  text-align: justify;
}

.down {
  text-align: center;
}

.numberXstars {
  display: flex;
}

.numberXmore {
  display: flex;
  align-items: center;
}

.rating-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0rem 0rem 0.5rem 0rem #00000032 !important;
  background-clip: border-box;
  align-items: center;
}

.review-wrapper {
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
  box-shadow: 0rem 0rem 0.5rem 0rem #00000032 !important;
  background-clip: border-box;
}

.add-review-wrapper {
  display: flex;
  justify-content: space-between;
}

.addReview-desktop {
  display: none;
}

.product-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 0;
  width: 350px;
}

.addCart,
.buyNow {
  padding: 10px 10px;
  font-size: 13px;
}

.addCart {
  width: 50%;
}

.buyNow {
  width: 100%;
}

.facebook,
.twitter {
  margin-left: 5px;
}

.addReviewXseeMore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 0;
}

.addReview {
  background-color: #25d36516;
  color: #25d366;
  border: 1px solid #25d36516;
  border-radius: 10px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  padding: 2px 10px;
  cursor: pointer;
}

.addReview2 {
  color: #25d366;
  border-radius: 10px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  padding: 2px 0 2px 0;
  cursor: pointer;
}

.see-more {
  display: flex;
  align-items: center;
}

.review-numbersXright {
  margin-left: 10px;

}

.prices {
  display: flex;
  align-items: center;
}

.spacer {
  margin: 0 5px 0;
}

.fadeIn {
  animation: fadeInUp 0.5s ease-out;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.action-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

@media (max-width: 540px) {
  .product-wrapper {
  }
  .close-action {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 10px 0;
    padding: 10px 10px 0 0;
  }

  .hide-action {
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;
    padding: 20px 0;
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .product-body {
    flex-direction: column;
  }

  .product-divide {
    width: 100%;
    padding: 0 0 0 0;
  }

  .product-detail {
    width: 100%;
  }

  .product-image {
    background-color: orange;
    width: auto;
    height: 300px;
  }

  /* .nameXshare {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */

  .product-name {
  }

  .by {
    font-style: italic;
  }

  .product-author {
    margin: 0 0 0 3px;
  }

  .priceXqytXreview {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 12px 0;
    margin: 0 0 10px 0;
  }

  .product-quantity {
    text-align: center;
  }

  .line {
    border-left: 1px solid blue;
  }
  .product-price {
    text-align: center;
  }

  .share-social {
    display: none;
  }

  .shareXicon {
    background-color: #ffffff16;
    color: #25d365d8;
    border: 1px solid #25d36578;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 2px 10px;
    display: flex;
    align-items: center;
  }

  .shareXicon:active {
    color: #ffffff;
    background-color: #25d365d8;
    border: 1px solid #ffffff;
  }

  .shareXicon:focus {
  }

  .share {
    margin: 0 0 0 10px;
  }

  .product-description-wrapper {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.5rem 0rem #00000032 !important;
    background-clip: border-box;
    display: flex;
    flex-direction: column;
  }

  .product-description {
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .product-description-full {
    overflow: hidden;
    word-wrap: break-word;
    text-align: justify;
  }

  .down {
    text-align: center;
  }

  .numberXstars {
    display: flex;
  }

  .numberXmore {
    display: flex;
    align-items: center;
  }

  .rating-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0rem 0rem 0.5rem 0rem #00000032 !important;
    background-clip: border-box;
    align-items: center;
  }

  .review-wrapper {
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    box-shadow: 0rem 0rem 0.5rem 0rem #00000032 !important;
    background-clip: border-box;
  }

  .product-action {
    display: flex;
    align-items: center;

    width: 100%;
  }

  .addReview {
    display: none;
  }

  .addCart,
  .buyNow {
    padding: 12px 15px;
  }

  .addCart {
    width: 70%;
  }

  .buyNow {
    width: 100%;
  }
  .facebook,
  .twitter {
    margin-left: 5px;
  }

  .addReviewXseeMore {
  }

  .addReview {
    background-color: #25d36516;
    color: #25d366;
    border: 1px solid #25d36516;
    border-radius: 10px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    padding: 2px 10px;
  }

  .addReview-desktop {
    display: initial;
  }

  .see-more {

  }

  .review-numbersXright {
    margin-right: 0px;
  }
}

@media (max-width: 320px) {
  .product-wrapper {
    top: 7%;
  }
  .product-image {
    background-color: orange;
    width: auto;
    height: 300px;
  }
  .rating-wrapper {
    flex-direction: column;
  }

  .product-quantity {
  }
  .product-price {
  }

  .addReviewXseeMore {
  }

  .addReview {
    display: none;
  }

  .review-numbersXright {
  }

  .product-action {
    display: flex;
    align-items: center;

    width: 100%;
  }

  .addCart,
  .buyNow {
    padding: 8px 10px;
  }

  .addCart {
    width: 70%;
  }

  .buyNow {
    width: 100%;
  }
}
