.item {
  border: 1px solid #ff0000db;
}

@media (max-width: 540px) {
  .cart-wrapper,
  .checkout-wrapper,
  .order-wrapper {
    margin-bottom: 70px;
    min-height: 100vh;
  }

  .home-wrapper,
  .cart-wrapper,
  .checkout-wrapper,
  .order-wrapper,
  .profile-wrapper,
  .search-wrapper,
  .user-wrapper {
    background-color: #ababab3c;
    min-height: 100vh;
    margin-bottom: 50px;
  }

  .user-wrapper {
    margin-bottom: 0px;
  }

  .header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0rem 0rem 1rem 0rem #00000032 !important;
    margin-bottom: 10px;
  }

  .category {
    display: flex;
    align-items: center;
  }

  .category2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 5px 0;
  }

  .object-1 {
    margin: 0 10px 0 0;
  }
  .object-2,
  .object-3 {
    padding: 0 0 0 0;
  }

  .object-4 {
    padding: 0 0 0 15px;
  }

  .object-5 {
    padding: 0 3px 0 0;
  }
  .main {
    padding: 0px 0px;

    margin-bottom: 50px;
  }

  .title {
    padding: 0px 0px;
  }

  .title-makeshift {
    padding: 0 10px;
  }
}

@media (max-width: 320px) {
  .header-input {
    width: 100%;
  }

  .category2 {
    width: 100%;
  }
}
