.item {
  border: 1px solid #ff0000db;
}

.outline {
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0rem 0rem 0.5rem 0rem #00000032 !important;
  background-clip: border-box;
  background-color: #ffffff;
}

.home-wrapper,
.checkout-wrapper,
.order-wrapper,
.profile-wrapper,
.search-wrapper,
.user-wrapper,
.page-wrapper {
  min-height: 100vh;
}

.cart-wrapper,
.product-wrapper {
  min-height: 85vh;
  padding-bottom: 4.5em;
}

.header {
  display: none;
}

.category,
.user-category {
  display: flex;
  align-items: center;
}

.user-category {
  width: 100%;
}

.category2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0px 0;
}

.object-1 {
  margin: 0 10px 0 0;
  align-self: center;
}
.object-2,
.object-3 {
  padding: 0 0 0 0;
}

.object-4 {
  padding: 0 0 0 15px;
}

.object-5 {
  padding: 0 3px 0 0;
}


.wrapper {
}

.title {
  padding: 0px 0px;
}

.title-makeshift {
  padding: 0 10px;
}

.page_title {
  padding: 15px 0;
}

.change {
  margin-top: 10px;
}

.main {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  transition: all 0.6s ease-in-out;
}

.main-1 {
  margin: 0 0 47px 0;
  
}


@media (max-width: 540px) {
  .home-wrapper,
  .checkout-wrapper,
  .order-wrapper,
  .profile-wrapper,
  .search-wrapper,
  .user-wrapper,
  .page-wrapper,
  .cart-wrapper {
    min-height: 100vh;
  }

  .cart-wrapper {
    padding-bottom: 3.7em;
  }

  .home-wrapper,
  .cart-wrapper,
  .checkout-wrapper,
  .order-wrapper,
  .profile-wrapper,
  .search-wrapper,
  .user-wrapper {
  }

  .header {
    background-color: #ffffff;
    width: 100%;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0rem 0rem 1rem 0rem #00000032 !important;
  }

  .category,
  .user-category {
    display: flex;
    align-items: center;
  }

  .category2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0px 0;
  }

  .object-1 {
    margin: 0 10px 0 0;
  }
  .object-2,
  .object-3 {
    padding: 0 0 0 0;
  }

  .object-4 {
    padding: 0 0 0 15px;
  }

  .object-5 {
    padding: 0 3px 0 0;
  }

  .main-1 {
    margin: 0 0 47px 0;
  }

  .wrapper {
  }

  .title {
    padding: 0px 0px;
  }

  .title-makeshift {
    padding: 0 10px;
  }

  .page_title {
    padding: 15px 0;
  }



  .change {
    margin-top: 10px;
  }

  .main {
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .cart-wrapper {
  }

  .header-input {
    width: 100%;
  }

  .category2 {
    width: 100%;
  }

  .main {
    margin: 0 auto;
  }
}
