.user-detailsXother-pages {
  display: flex;
  justify-content: space-between;
}

.user-detailsXother-pages {
  display: flex;
  justify-content: space-between;
}

.left-side {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.right-side {
  width: 700px;
  border-radius: 10px;
  padding: 10px 0;
  margin: 10px 10px 10px 0px;
}

.user-detail {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.nameXeditXverify {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  width: 100%;
}

.nameXedit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user-name {
  margin-right: 15px;
}

.user-verify {
  padding: 0 0 3px 0;
  border-radius: 10px;
}

.verify {
  font-size: 12px;
  color: white;
  font-style: italic;
  background-color: #00d919;
  width: auto;
  padding: 0 10px;
  border-radius: 10px;
}

.not-verify {
  font-size: 12px;
  background-color: white;
  font-style: italic;
  width: auto;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid #d91d00;
  color: #d91d00;
}

.other-pages {
}

.activePage {
  font-size: 20px;
  padding: 0 0 0 10px;
}

.options {
}

.option-list {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px;
  cursor: default;
}

.wrapper-item {
  padding: 0 10px 10px;
  background-color: coral;
}

@media (max-width: 1005px) {
  .user-detailsXother-pages {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 540px) {
  .left-side {
    padding: 10px;
    margin: 0;
    width: 100%;
  }

  .right-side {
    display: none;
  }

  .user-detail {
    width: 100%;
  }

  .nameXeditXverify {
    width: 100%;
  }

  .nameXedit {

  }

  .user-name {

  }

  .user-verify {
    border-radius: 10px;
  }



  .other-pages {
    display: none;
  }

  .options {
    margin: 0;
  }

  .option-list {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .wrapper-item {
    padding: 0 10px 10px;
  }
}

@media (max-width: 320px) {
}
