.user_wrapper {
}

.form-wrapper,
.verify-wrapper {
  /* padding: 10px 0;
  margin: 0% 5%;
  transition: all 0.6s ease-in-out;
  max-width: 980px;
  margin: 0 auto; */

  padding: 10px 0;
  transition: all 0.6s ease-in-out;
  max-width: 450px;
  margin: 8em auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.forgotten_password_wrapper {
  text-align: right;
  cursor: default;
}

/* .eye-popper {
  padding: 5px 0px;
  width: 50px;
  border-radius: 0 10px 10px 0;
  background: white;
} */

.eye-popper {
  padding: 5px 12px;
  width: auto;
  background: white;
}

.eyeIcon {
  position: relative;
  left: 200px;
  top: -55px;
  bottom: 0;
  right: 0;

  margin-bottom: -35px;
  display: flex;
  align-self: center;
}

/* .eyeLiner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
}

.eyeLiner:hover,
.eyeLiner:active {
  border: 1px solid #00d919;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
} */

.forgotten_password {
  color: #4a4ac9;
}

@media (max-width: 540px) {
  .form-wrapper,
  .verify-wrapper {
    margin: 8em 5%;
  }
}

@media (max-width: 320px) {
  .form-wrapper,
  .verify-wrapper {
    margin: 5em 5%;
  }
}

@media (max-width: 280px) {
  .form-wrapper,
  .verify-wrapper {
    margin: 6em 5%;
  }
}
