@media (max-width: 540px) {
  .user_wrapper {
  }

  .form-wrapper,
  .verify-wrapper {
    padding: 10px 20px 0px;
  }

  .forgotten_password_wrapper {
    margin: 10px 0 0 0;
    text-align: right;
  }

  .forgotten_password {
    padding: 0 20px 0 0;
    color: #4a4ac9;
  }
}
