.summary-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: auto;
  bottom: 0; 
  padding: 0px 10px;
  background-color: #ffffff;
}

.amount {
  color: #00d919;
  width: auto;
  padding: 10px 10px 10px 0;
  text-align: left;
  font-size: 25px;
}

@media (max-width: 540px) {
  .summary-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: auto;
    bottom: 0; 
    padding: 0px 10px;
    background-color: #ffffff;
  }

  .amount {
    color: #00d919;
    width: 51%;
    padding: 10px 10px 10px 0;
    text-align: left;
    font-size: 25px;
  }
}

@media (max-width: 320px) {
  .amount {
    font-size: 18px;
  }
}
