.empty-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10% 0 0;
  width: 35%;
  margin: 0 auto;
}

.svg-container {
  text-align: center;
}

.text-1,
.text-2,
.text-3 {
  text-align: center;
  color: #7b7979;
}

.text-3 {
  font-size: 23px;
}

@media (max-width: 540px) {
  .search-cart {
    align-items: center;
  }

  .search-text {
    font-size: 16px;
    padding: 7px 0;
  }

  .empty-page {
    width: 60%;
    padding: 30% 0 0;
  }


}

@media (max-width: 530px) {
  .empty-page {
    width: 90%;
    padding: 30% 0 0;
  }
}

@media (max-width: 320px) {
}

@media (max-width: 280px) {
}
