.item-wrapper {
  display: flex;
  padding: 10px 10px;
  margin: 10px 0;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
}

.order-imageXname {
  display: flex;
  align-items: center;
  width: 70%;
}

.order-item-name-price-quantity {
  display: flex;
  width: 100%;
}

.order-item-name {
  width: 60%;
}

.order-Item-price-quantity {
  display: flex;
  justify-content: space-around;
  width: 40%;
  align-items: flex-end;
}

.actionXstatus {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.cancel {
  text-align: center;
}

.cancel-order {
  order: 1;
}

.status {
  padding: 2.5px 15px;
  text-transform: uppercase;
  border-radius: 10px;
  align-self: center;
  font-size: 10px;
  order: 0;
}

.pending {
  background-color: yellow;
  color: #777777;
}

.processed,
.shipped {
  background-color: blue;
  color: white;
}

.fulfilled {
  background-color: green;
  color: white;
}

.cancelled {
  background-color: red;
  color: white;
  text-align: right;
}

@media (max-width: 540px) {
  .item-wrapper {
    flex-direction: column;
  }

  .order-imageXname {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .order-item-name-price-quantity {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .order-item-name {
    display: flex;
    width: 100%;
  }

  .order-Item-price-quantity {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .actionXstatus {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
  }

  .cancel {
    text-align: center;
  }

  .status {
    padding: 2.5px 15px;
    text-transform: uppercase;
    border-radius: 10px;
    align-self: center;
    font-size: 10px;
    order: 1;
  }

  .pending {
    background-color: yellow;
    color: #777777;
  }

  .processed,
  .shipped {
    background-color: blue;
    color: white;
  }

  .fulfilled {
    background-color: green;
    color: white;
  }

  .cancelled {
    background-color: red;
    color: white;
    text-align: right;
  }
}

@media (max-width: 320px) {
}
