.item-wrapper {
}

.bin-width {
  width: 100%;
}

.nameXprice {
  width: 100%;
}

.bin-width,
.cancel-width {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 540px) {
  .item-wrapper {
  }

  .bin-width {
    width: 100%;
  }

  .nameXprice {
    width: 100%;
  }

  .bin-width,
  .cancel-width {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 320px) {
}
