.item-wrapper {
}

.bin-width {
  width: 100%;
}

.nameXprice {
  width: 100%;
}

.bin-width,
.cancel-width {
  display: flex;
  justify-content: flex-end;
}

.wishItem-action{
  display: flex;
  justify-content: space-between;
  width: 100%;
}





.bin-width2 {
  display: none;
    }

@media (max-width: 540px) {
  .item-wrapper {
  }

  .bin-width {
    width: 100%;
  }

  .nameXprice {
    width: 100%;
  }

  .cancel-width {
    display: flex;
    justify-content: flex-end;
  }


  .wishItem-action{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 320px) {
}
