.svg-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10% 0 0;
  width: 35%;
  margin: 0 auto;
}

.svg-item {
  text-align: center;
}

@media (max-width: 540px) {
  .svg-page {
    width: 60%;
    padding: 30% 0 0;
  }
}

@media (max-width: 530px) {
  .svg-page {
    width: 90%;
    padding: 30% 0 0;
  }
}

@media (max-width: 320px) {
}

@media (max-width: 280px) {
}
